[include]
    path = ~/.config/delta/themes.gitconfig
    # platform-specific bits (gpg program, credential helper) -- linked from
    # the linux/ or macos/ overlay. Git silently ignores a missing include.
    path = ~/.config/git/os.gitconfig

[alias]
    s = status
    co = checkout
    cb = checkout -b
    br = branch
    ll = log --oneline
    lg = log --pretty=format:"%C(yellow)%h%Creset %C(green)%s%Creset %Cred%d%Creset %Cblue[%an]" --date=short
    cm = commit -m
    can = commit --amend --no-edit
    cam = commit --amend -m
    conflicted = !vim +Conflicted

[user]
    email = muhammadsawalhy@gmail.com
    name = Assawalhy
    username = assawalhy

[init]
    defaultBranch = main

[pull]
    rebase = true

[push]
    autoSetupRemote = true

[core]
    pager = delta
    excludesFile = ~/.gitignore_global

[interactive]
    diffFilter = delta --color-only


[core]
  whitespace = error
  preloadindex = true

[pager]
  diff = delta
  log = delta
  reflog = delta
  show = delta

[status]
  branch = true
  showStash = true
  showUntrackedFiles = all

[delta]
    side-by-side = false
    navigate = true  # use n and N to move between diff sections
    line-numbers = true

[merge]
    conflictstyle = zdiff3

[diff]
    colorMoved = default
